<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Two Girls One Globe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/form.css">
</head>

<body>
<section class="container">
    <!-- header -->
    <div th:replace="~{header :: header}">...</div>
    <!-- //header -->

    <section class="contact-us">
        <h2>Complete the form and we contact you</h2>
        <ul>
            <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('contact.*')}" th:text="${error}" />
        </ul>
        <form action="#" th:action="@{/saveMsg}" method="post" class="contact-form" th:object="${contact}">
             
            <label>Name</label>
            <input type="text" th:field="*{name}" placeholder="Your name" required>

            <label>Phone Number</label>
            <input type="tel" th:field="*{mobileNum}" placeholder="Your phone number" required>

            <label>Email</label>
            <input type="email" th:field="*{email}"  placeholder="Your email" required>

            <label>Subject</label>
            <input type="text" th:field="*{subject}" placeholder="Subject" required>
            
            <label>Message</label>
            <textarea th:field="*{message}" placeholder="Type Your Message Here" rows="4" required></textarea>

            <button type="submit">Contact Me</button>
        </form>
    </section>

    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
</section>
</body>

</html>