<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Two girls One Globe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/form.css">
    <script src='https://kit.fontawesome.com/6b277cc5b7.js' crossorigin='anonymous'></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <script type="assets/text/javascript" src="assets/js/main.js"></script>
    <!-- header -->
    <div th:replace="~{header :: header}">...</div>
    <!-- //header -->

    <section class="contact-us">
        <h2>Complete the form and we contact you</h2>
        <form action="/saveMsg" method="post" class="contact-form" th:object="${contact}">
             
            <label>Name</label>
            <input type="text" th:field="*{name}" placeholder="Your name" required>

            
            <label>Phone Number</label>
            <input type="tel" th:field="*{mobileNum}" placeholder="Your phone number" required>

            
            <label>Email</label>
            <input type="email" th:field="*{email}"  placeholder="Your email" required>

            
<!--            <label>Preferable method of communication</label>-->
<!--            <div class="checkbox-group">-->
<!--                <label><input type="checkbox" name="communication" value="phone"> Phone</label>-->
<!--                <label><input type="checkbox" name="communication" value="email"> Email</label>-->
<!--                <label><input type="checkbox" name="communication" value="whatsapp"> WhatsApp</label>-->
<!--            </div>-->
            <label>Subject</label>
            <input type="text" th:field="*{subject}" placeholder="Subject" required>
            
            <label>Message</label>
            <textarea th:field="*{message}" placeholder="Type Your Message Here" rows="4" required></textarea>

            
            <button type="submit">Contact Me</button>
        </form>
    </section>

    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
</body>

</html>