<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <title>Two Girls One Globe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/admin.css">
</head>

<body>
<section class="container">
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

<section class="admin-dashboard">
    <div class="dashboard-user">
        <h3 th:text="${'Welcome - ' + username}"></h3>
        <p class="" th:text="${'You logged in as - ' + roles}"></p>
    </div>
    <div class="admin-dashboard__list">
        <div class="admin-dashboard__item">
            <a th:href="@{/displayMessages/page/1?sortField=name&sortDir=desc}">
                <h3>Messages</h3>
            </a>
        </div>

        <div class="admin-dashboard__item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/displayUsers/page/1?sortField=userId&sortDir=desc}">
                <h3>Users</h3>
            </a>
        </div>
        <div class="admin-dashboard__item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/displayTours/page/1?sortField=tourId&sortDir=desc}">
                <h3>Tours</h3>
            </a>
        </div>
        <div class="admin-dashboard__item">
            <a th:href="@{/admin/displayProfile}">
                <h3>Profile</h3>
            </a>
        </div>
        <div class="admin-dashboard__item">
            <a th:href="@{/admin/displayReviews/page/1?sortField=reviewId&sortDir=desc}">
                <h3>Testimonals</h3>
            </a>
        </div>

    </div>


</section>
<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->
</section>
</body>

</html>