<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <script src='https://kit.fontawesome.com/6b277cc5b7.js' crossorigin='anonymous'></script>
</head>

<body>
    <!-- footer block -->
    <footer>
        <section class="footer">
            <div class="footer-left">
                <img src="/assets/images/logoWord2.jpg" class="footer-logo" alt="Two girls one globe">
            </div>

            <div class="footer-center">
                <ul>
                    <li sec:authorize="isAnonymous()"> <a th:href="@{/home}">Home</a> </li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/groupTour}">Group Tours</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/vipTour}">VIP Tours</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/displayReviews}">Testimonials</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/aboutUs}">About us</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/contact}">Contact us</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>

            <div class="footer-right">
                <p><strong>Contacts:</strong></p>
                <p>+(333) 333-3333</p>
                <p>+(333) 333-3333</p>
                <p>Email: vm-travel@gmail.com</p>
                <div class="social-links">
                    <a href="#facebook"><i class='fab fa-facebook' style='font-size:24px'></i></a>
                    <a href="#instagram"><i class='fab fa-instagram' style='font-size:24px'></i></a>
                </div>
            </div>
        </section>
    </footer>
    <!-- //footer block -->
</body>


</html>