<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Two Girls One Globe</title>
    <script src='https://kit.fontawesome.com/6b277cc5b7.js' crossorigin='anonymous'></script>
</head>
<body>
<script type="text/javascript" src="assets/js/main.js"></script>
<section class="container">
    <!-- header -->
    <div th:replace="~{header :: header}">...</div>
    <!-- //header -->

    <section class="hero">
        <div class="hero-image">
            <img src="assets/images/mission.jpg" alt="mission">
            <div class="hero-text">
                <!-- <h2>Mission statement</h2> -->
                <p>We create unforgettable travel experiences,</p>
                <p>taking care of every detail for inspiring adventures.</p>
            </div>
        </div>
    </section>

    <section class="tour-section">
        <h3 class="header-title">Group Tours</h3>
        <div>
            <div class="tours">
                <div th:each="tour: ${REGULAR}" class="tour-card">
                    <img th:src="${imagesBaseUrl+tour.imagePath}" alt="athena">
                    <h3 th:text="${tour.name}"></h3>
                    <p>Price: $<span th:text="${tour.fees}"></span></p>
                    <p>Dates: <span th:text="${#temporals.format(tour.beginDate, 'MM/dd/yyyy')}"></span> -
                        <span th:text="${#temporals.format(tour.endDate, 'MM/dd/yyyy')}"></span>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="header-title">VIP tours</h3>
        <div>
            <div class="tours">
                <div th:each="tour: ${VIP}" class="tour-card">
                    <img th:src="${imagesBaseUrl+tour.imagePath}" alt="tour">
                    <h3 th:text="${tour.name}"></h3>
                    <p>Price: $<span th:text="${tour.fees}"></span></p>
                    <p th:text="${tour.beginDate}"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="custom-tour-section">
        <h3 class="header-title">Create your own Tour</h3>
        <div class="custom-tour-content">
            <img src="assets/images/ownTour.jpg" alt="Create your own tour">
            <div class="custom-tour-text">
                <p>Organize a tour with your dates, places, transfers</p>
                <button>Create own tour</button>
            </div>
        </div>
    </section>



    <section class="reviews-section">
        <h3 class="header-title">Testimonials</h3>
        <div class="carousel">
            <div class="carousel-inner">
                <div th:each="testimonial: ${reviewList}" class="review-card">
                    <p th:text="${testimonial.reviewText}"></p>
                    <h3 th:text="${testimonial.name}"></h3>
                </div>
            </div>
            <div class="dots">
                <span class="dot active" onclick="showReview(0)"></span>
                <span class="dot" onclick="showReview(1)"></span>
                <span class="dot" onclick="showReview(2)"></span>
                <span class="dot" onclick="showReview(3)"></span>
            </div>
        </div>
        <a href="#all-reviews" class="all-reviews">View All</a>
    </section>

    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
</section>


</body>

</html>