<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Two girls One Globe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/admin.css">
    <script src='https://kit.fontawesome.com/6b277cc5b7.js' crossorigin='anonymous'></script>
</head>

<body>

<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->


<section class="admin section">
        <div class="col-md-7">
            <h3>Messages</h3>
        </div>
        <table class="admin table">
            <thead>
            <tr class="admin">
                <th scope="col">Name</th>
                <th scope="col">Mobile Num</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="msg: ${contactMsgs}">
                <td th:text="${msg.name}"></td>
                <td th:text="${msg.mobileNum}"></td>
                <td th:text="${msg.email}"></td>
                <td th:text="${msg.subject}"></td>
                <td th:text="${msg.message}"></td>
                <td><a th:href="@{/closeMsg(id=${msg.contactId})}" class="btn">CLOSE</a></td>
            </tr>
            </tbody>
        </table>
    <div>
        <a th:href="@{/adminConsole}">
        <button>BACK</button>
        </a>
    </div>
</section>

<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->

</body>

</html>