<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <title>Two Girls One Globe</title>
    <script src='https://kit.fontawesome.com/6b277cc5b7.js' crossorigin='anonymous'></script>
    <style>
    .block {
        padding: 20px;
    }
    .block2 {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }
    .description {
        flex: 1;
        overflow: hidden;
        max-width: 50%;
        padding: 5px;
        font-size: 0.9em;
        color: #003b6f;
    }
    .gallery {
        display: block;
        max-width: 50%;
        align-content: start;
    }
    .gallery img {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: 10px;
      cursor: pointer;
      display: block;
    }
    .tour-section  p   {
    font-size: 16px;
    margin: 10px 5px;
    color: #044e93;
    padding-bottom: 10px;
}

  </style>
</head>
<body>
<section class="container">
    <!-- header -->
    <div th:replace="~{header :: header}">...</div>
    <!-- //header -->

    <section class="tour-section">
        <h2 class="header-title" th:text="${tour.name}"></h2>
        <p><strong>Price:<strong> $<span th:text="${tour.fees}"></span></p>
        <p><strong>Dates:<strong> <span th:text="${tour.beginDate}"></span> - <span th:text="${tour.endDate}"></span></p>
        <a href="#joinTour">
            <button>Join tour</button>
        </a>
        <section class="block block2">
            <div class="description"  >
                <h3 th:text="${tour.name}"></h3>
                <p>
                <div style="white-space: pre-wrap;" th:text="${tour.description}"></div>
            </div>
            <div class="gallery">
                <img th:src="${imagesBaseUrl + (tour.imagePath != null ? tour.imagePath : 'default.jpg')}" alt="Tour Image">
                <img th:src="${imagesBaseUrl + (tour.imagePath2 != null ? tour.imagePath2 : 'default.jpg')}" alt="Tour Image">
                <img th:src="${imagesBaseUrl + (tour.imagePath3 != null ? tour.imagePath3 : 'default.jpg')}" alt="Tour Image">
            </div>
        </section>

    </section>
    <section class="contact-us" id="joinTour">
        <h2>Join The Tour</h2>
        <h5>Complete the form and we contact you</h5>
        <ul>
            <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('contact.*')}" th:text="${error}"/>
        </ul>
        <form class="contact-form" th:action="@{/joinTour(tourId=${tour.tourId})}" method="post" th:object="${contact}">
            <div class="contact-join-form-row"><label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" name="name" placeholder="Your name" required>
            </div>
            <div class="contact-join-form-row"><label for="phone">Phone Number</label>
                <input type="tel" th:field="*{mobileNum}" id="phone" name="phone" placeholder="Your phone number" required>
            </div>
            <div class="contact-join-form-row"><label for="email">Email</label>
                <input type="email" th:field="*{email}" id="email" name="email" placeholder="Your email" required>
            </div>

            <div class="contact-join-form-row"><label for="subject">Subject</label>
                <input type="text" th:field="*{subject}" id="subject" placeholder="Subject"
                       th:value="${tourId}">
            </div>
            <!--                <div class="contact-join-form-row"><label>Preferable method of communication</label>-->
            <!--                    <div class="checkbox-group">-->
            <!--                        <input type="checkbox" name="communication" value="phone"> Phone-->
            <!--                        <input type="checkbox" name="communication" value="email"> Email-->
            <!--                        <input type="checkbox" name="communication" value="whatsapp"> WhatsApp-->
            <!--                    </div>-->
            <!--                </div>-->
            <div class="contact-join-form-row">
                <label for="message">Message</label>
                <textarea th:field="*{message}" id="message" name="message" placeholder="Your message" rows="4"
                          required></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </section>


    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
</section>


</body>

</html>