<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <title>Two Girls One Globe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>

<body>
    <section class="container">
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->


        <section class="admin-container">
            <div class="admin-caption">
                <h3>Tours</h3>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin/tour}">
                        <div class="user-form-btn">Tour Registration</div>
                    </a>
                </div>
            </div>
            <table class="admin table dataTable">
                <!--Table Header-->
                <thead>
                <tr>
                    <th class="sorting" scope="col">
                        <a th:href="@{'/admin/displayTours/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
                    </th>
                    <th class="sorting" scope="col">
                        <a th:href="@{'/admin/displayTours/page/' + ${currentPage} + '?sortField=beginDate&sortDir=' + ${reverseSortDir}}">Begin Date</a>
                    </th>
                    <th class="sorting" scope="col">
                        <a th:href="@{'/admin/displayTours/page/' + ${currentPage} + '?sortField=endDate&sortDir=' + ${reverseSortDir}}">End Date</a>
                    </th>
                    <th class="sorting" scope="col">
                        <a th:href="@{'/admin/displayTours/page/' + ${currentPage} + '?sortField=fees&sortDir=' + ${reverseSortDir}}">Fees</a>
                    </th>
                    <th class="sorting" scope="col">
                        <a th:href="@{'/admin/displayTours/page/' + ${currentPage} + '?sortField=show&sortDir=' + ${reverseSortDir}}">Show on page</a>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tour: ${tourList}">
                    <td th:text="${tour.name}"></td>
                    <td th:text="${tour.beginDate}"></td>
                    <td th:text="${tour.endDate}"></td>
                    <td th:text="${tour.fees}"></td>
                    <td th:checked="${tour.show}"></td>

                    <td><a th:href="@{/admin/tour/changeStatus(id=${tour.tourId})}">
                        <span th:if="${tour.show == 'true'}">DISABLE</span>
                        <span th:unless="${tour.show == 'true'}">ENABLE</span>
                    </a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </section>
        <!-- pagination -->
        <div class="pagination-style text-center">
            <ul>
                <li>
                    <a th:if="${currentPage > 1}" th:href="@{'/admin/displayTours/page/' + ${currentPage - 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        <span>&laquo;</span>
                    </a>
                    <a th:unless="${currentPage > 1}" class="not-allowed" disabled="">
                        <span>&laquo;</span>
                    </a>
                </li>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li>
                    <a th:if="${currentPage != i}" th:href="@{'/admin/displayTours/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
                </li>
                </span>
                <li>
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/displayTours/page/' + ${currentPage + 1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        <span>&raquo;</span>
                    </a>
                    <a th:unless="${currentPage < totalPages}" class="not-allowed" disabled="">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //pagination -->

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->
    </section>
</body>

</html>